.postPage{
	.posts{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;

		&__post{
			width: calc(50% - 10px);
			img{
				height: 320px;
			}
		}
	}
}

@media(max-width: 900px){
	.postPage{
		.posts{
			&__post{
				width: 100%;
				img{
					height: auto;
				}
			}
		}
	}
}