.favourites{
	.container>.title{
		text-align: center;
		margin-bottom: 20px;
		text-shadow: 0px 0px 17px #fec859;
	}
	.posts{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;

		&__post{
			width: calc(50% - 10px);
		}
	}
}

@media(max-width: 900px){
	.favourites{
		.posts{
			&__post{
				width: 100%;
			}
		}
	}
}