.home{
	margin-bottom: 20px;
	h1{
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-shadow: 6px 4px 2px #00887f, -6px -4px 2px #b902ca;
	}
	.container{
		display: flex;
		justify-content: center;
	}
}